---
/* front matter - inside these three dash lines we can add any sort of javascipt that wee want, including imports*/
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Main from '../components/Main.astro';
import Activities from '../components/Activities.astro';
import Future from '../components/Future.astro';
import VoicesComponent from '../components/VoicesComponent.astro';

/* everything inside this Layout component is considered the slot and will be rendered inside the tag */
---

<Layout title=''>
	<Main>
		<NavBar />
		<Activities/>
		<div class="future-content">
			<Future />
		</div>
		<VoicesComponent />
	</Main>
</Layout>

