---
/* 
here we can define typescript interfaces for the props
which we can define and destructure, and after use them inside the application:
fx like how the title is assigned to a spesific veriable with javascript .
*/ 
interface Props {
	title: string;
	description?: string;
	image?: string
}

import Header from "../components/Header.astro"
import BackToTop from "../components/BackToTop.astro"; // Import the BackToTop component


const { title, description = "A community"} = Astro.props;
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/styles.css">
		<title>{title}</title> 
		
	</head>
	<body class="min-h-screen">
		<header>
			<Header />
		</header>
		<main>
			<slot />
		</main>
		<BackToTop /> <!-- Add the BackToTop component here -->
	</body>
</html>



